---
Checks:            '*,-abseil-*,-android-*,-fuchsia-*,-google-*,-llvm-*,-objc-*,-zircon-*,
                    -cert-err58-cpp,-hicpp-vararg,
                    -readability-convert-member-functions-to-static,-readability-redundant-access-specifiers,
                    -modernize-use-nodiscard,-modernize-use-trailing-return-type,
                    -llvmlibc-callee-namespace,
                    -altera-struct-pack-align'
WarningsAsErrors:  '*'
HeaderFilterRegex: ''
FormatStyle:       none
CheckOptions:
  - key:           misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:         true
